<div id="dialogueHolder">
    <div id="portrait">
        <img ng-src="{{dialogue.portraits}}"
             class="dialogue"
             ng-class="{active: mainImageUrl==img}">
    </div>

    <div id="dialogue">
        <p>{{dialogue.text}}</p>
    </div>

    <button class="closebtn" ng-click="close()">X</button>
</div>


<!--   joinNew
               [ portrait: "../img/sailor.png"
                 text: "(첫번째 대사) 오늘부터 이 배의 주인이 되었다. 좋은 크루즈가 나타나면 이런 배 따위 버리고 옮겨타고 싶다.
                        일단은 이리저리 옮겨다니는 신세보다는 나아졌다고 생각하자.." ]

       addBook && addMap == true
               [ portrait: "../img/sailor.png"
                 text: "클립보드와 해도는 기본.."  ]

 -->
