<div id="map">
    <div id="mapcontents">

        <div id="mapPiece1" class="hide"></div>
        <div id="mapPiece2" class="hide"></div>
        <div id="mapPiece3" class="hide"></div>
        <div id="mapPiece4" class="hide"></div>
        <div id="mapPiece5" class="hide"></div>
        <div id="mapPiece6" class="hide"></div>
        <div id="mapPiece7" class="hide"></div>
        <div id="mapPiece8" class="hide"></div>
        <div id="mapPiece9" class="hide"></div>
    </div>
    <div id="mapCloseup"></div>

    <div class="closebtn" ng-click="getMap()">닫기</div>
    <!-- topPanel>bookHolder getMap show-->
</div>


