<div id="book">
    <div id="bookcontents">

        <ul class="items">
            <h1>{{item.label}}</h1>
            <p>{{item.description}}</p>
            <ul class="item-thumbs">
                <li ng-repeat="img in item.images">
                    <img ng-src="{{img}}">
                </li>
            </ul>
        </ul>

    </div>

    <div id="bookNav">
        <span class="prev"></span>
        <span class="next"></span>
    </div>

    <div class="closebtn" ng-click="addBook()">X</div>
    <!-- topPanel>bookHolder addBook show-->

</div>


