<div id="workshop" class="background">
    <br><br><br> <br><br><br>
</div>

<div id="topContainer">
    <div ng-if="indexObject.flagOfTopPanel" class="slide-animate">
        <div ng-include="'partial/topPanel.html'"></div>
    </div>
    <!--<button ng-click="toggleTopPanel()" id="toppanelBtn"></button>-->
</div>

<!--<button ng-click="toggleNavigator()" class="btn btn-success btn-sm">Navigator</button>-->
<span ng-if="indexObject.flagOfNavigator">
    <div ng-include="'partial/navigator.html'"></div>
</span>
